.story {
    & #place {
        background: url('<?php echo get_theme_file_uri() . '/assets/images/image_place.png'; ?>');
        position: relative;
        
        .bigCloud,
        .littleCloud {
            filter: blur(10px);
            transform: translateX(0);
            transition: transform 1s ease-in-out;
            position: absolute;
        }
            
        .bigCloud {
            right: 8%;
            top: 10%;
        }

        .littleCloud {
            right: 34%;
            top: 34%;
        }
    }
}
