/* CSS */
h2{
    & span{
        opacity: 0;
        display: inline-block;
        margin-right: 10px;
    }
    .animateTitle {
        opacity: 0;
        animation: $anim-fadebottom;
        display: inline-block;
    }
}

.animateTitle:nth-child(1) {
    animation-delay: 0s;
}

.animateTitle:nth-child(2) {
    animation-delay: 0.2s;
}
