.site{
  overflow: hidden;
}
  
.banner {
  opacity: 0;
  animation: $anim-fadetop;
  position: relative;
  height: 500px;
  overflow: hidden;
  & .video {
    position: relative;
    height: 100%;
    z-index: 1;
}
& img {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 2;
  animation: $anim-flot-fade-logo;
}
}

.animateSection {
  animation: $anim-fadebottom;
}

.story, #studio, .nomination{opacity: 0;}