.nomination{
    display: flex;
    width: 80%;
    margin:150px auto;
    position: relative;
    &::before {
        content: url('./assets/images/Sunflower.png');
        position: absolute;
        left: -85px;
        top: -148px;
    }
    & h2{
        font-size: 3rem;
        background-image: url("./assets/images/orange_bg.png");
        background-size: 94%;
        box-sizing: border-box;
        }
    & img{
        width: 279px;
        height: 129px;
        display: inline-block;
        margin-top: 33px;
        margin-left: -40px;
    }
    &::after {
        content: url('./assets/images/orchid.png');
        position: absolute;
        right: -210px;
        top: -170px;
    }
}