$anim-flower:rotateImage 20s linear infinite;
$anim-fadebottom:fadeInFromBottom 0.5s ease forwards;
$anim-fadetop:fadeInFromTop 1.5s ease forwards;
$anim-flot-fade-logo:floatLogo 2s ease-in-out infinite, fadeInLogo 2s ease-in-out;
$anim-flot-cat:floatLogo 2s ease-in-out infinite;
$anim-flot-cat2:floatLogo2 2s ease-in-out infinite;